// global color tokens
$-clr-white: hsl(0, 0%, 100%);
$-clr-black: hsl(0, 0%, 0%);

$light: (
  "neutral": (
    "000": $-clr-white,
    "1000": $-clr-black,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-1000: var(--neutral-1000);
