$-ff-body: "Alata", sans-serif;
$-ff-heading: "Josefin Sans", sans-serif;

$font-family-base: $-ff-body;
$font-family-accent: $-ff-heading;

$-fs-heading-l: 4.5rem;
$-fs-heading-m: 3rem;
$-fs-heading-l-mobile: 2.5rem;
$-fs-heading-s: 2rem;
$-fs-heading-s-mobile: 1.5rem;
$-fs-body: 0.9375rem;
$-fs-button: 0.875rem;

$font-sizes: (
  "small": (
    "900": $-fs-heading-l-mobile,
    "800": $-fs-heading-s,
    "700": $-fs-heading-s-mobile,
    "600": $-fs-heading-s-mobile,
    "400": $-fs-body,
    "300": $-fs-button,
  ),
  "medium": (
    "900": $-fs-heading-l,
    "800": $-fs-heading-m,
    "700": $-fs-heading-s,
    "600": $-fs-body,
    "400": $-fs-body,
    "300": $-fs-button,
  ),
);

$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$-fw-300: 300;
$-fw-400: 400;

$font-weight-light: $-fw-300;
$font-weight-default: $-fw-400;
