@use "../abstracts/" as *;

.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
  width: fit-content;
}

.flex-group.mx-auto {
  justify-content: center;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-12;
  @include mq(large) {
    flex-direction: row;
    justify-content: space-between;
  }
}
