---
import Layout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ProductSection from "../components/ProductSection.astro";
---

<Layout title="Frontend Mentor | Loopstudios landing page">
  <div class="container">
    <HeroSection />

    <AboutSection />

    <ProductSection />
  </div>
</Layout>
