---
import Layout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Frontend Mentor | Loopstudios landing page">
  <div class="container">
    <div class="hero">
      <h1 class="[ hero__heading ] [ heading-1 ]">
        Immersive experiences that deliver
      </h1>
    </div>

    <div class="[ about ] [ l-grid ]">
      <img
        class="about__image"
        src="/assets/images/mobile/image-interactive.jpg"
        alt="A person wearing a virtual reality headset and a blue T-shirt, standing against a purple background. The person has both hands raised and slightly curved, as if interacting with a virtual environment."
      />
      <div class="about__description">
        <h2 class="heading-2">The leader in interactive VR</h2>
        <p class="about__info">
          Founded in 2011, Loopstudios has been producing world-class virtual
          reality projects for some of the best companies around the globe. Our
          award-winning creations have transformed businesses through digital
          experiences that bind to their brand.
        </p>
      </div>
    </div>

    <div class="product">
      <h2 class="[ product__heading ] [ heading-2 ]">Our Creations</h2>
      <ul class="product__list">
        <li class="product__item">
          <picture class="product__picture">
            <source
              srcset="/assets/images/desktop/image-deep-earth.jpg"
              media="(min-width: 720px)"
            />
            <img
              class="product__image"
              src="/assets/images/mobile/image-deep-earth.jpg"
              alt=""
            />
          </picture>

          <h3 class="[ product__title ] [ heading-3 ]">
            <a class="product__link" href="#">Deep Earth</a>
          </h3>
        </li>
        <li class="product__item">
          <picture class="product__picture">
            <source
              srcset="/assets/images/desktop/image-night-arcade.jpg"
              media="(min-width: 720px)"
            />
            <img
              class="product__image"
              src="/assets/images/mobile/image-night-arcade.jpg"
              alt=""
            />
          </picture>

          <h3 class="[ product__title ] [ heading-3 ]">
            <a class="product__link" href="#">Night Arcade</a>
          </h3>
        </li>
        <li class="product__item">
          <picture class="product__picture">
            <source
              srcset="/assets/images/desktop/image-soccer-team.jpg"
              media="(min-width: 720px)"
            />
            <img
              class="product__image"
              src="/assets/images/mobile/image-soccer-team.jpg"
              alt=""
            />
          </picture>

          <h3 class="[ product__title ] [ heading-3 ]">
            <a class="product__link" href="#">Soccer Team VR</a>
          </h3>
        </li>
        <li class="product__item">
          <picture class="product__picture">
            <source
              srcset="/assets/images/desktop/image-grid.jpg"
              media="(min-width: 720px)"
            />
            <img
              class="product__image"
              src="/assets/images/mobile/image-grid.jpg"
              alt=""
            />
          </picture>

          <h3 class="[ product__title ] [ heading-3 ]">
            <a class="product__link" href="#">The <br /> Grid</a>
          </h3>
        </li>
        <li class="product__item">
          <picture class="product__picture">
            <source
              srcset="/assets/images/desktop/image-from-above.jpg"
              media="(min-width: 720px)"
            />
            <img
              class="product__image"
              src="/assets/images/mobile/image-from-above.jpg"
              alt=""
            />
          </picture>

          <h3 class="[ product__title ] [ heading-3 ]">
            <a class="product__link" href="#">From Up Above VR</a>
          </h3>
        </li>
        <li class="product__item">
          <picture class="product__picture">
            <source
              srcset="/assets/images/desktop/image-pocket-borealis.jpg"
              media="(min-width: 720px)"
            />
            <img
              class="product__image"
              src="/assets/images/mobile/image-pocket-borealis.jpg"
              alt=""
            />
          </picture>

          <h3 class="[ product__title ] [ heading-3 ]">
            <a class="product__link" href="#">Pocket Borealis</a>
          </h3>
        </li>
        <li class="product__item">
          <picture class="product__picture">
            <source
              srcset="/assets/images/desktop/image-curiosity.jpg"
              media="(min-width: 720px)"
            />
            <img
              class="product__image"
              src="/assets/images/mobile/image-curiosity.jpg"
              alt=""
            />
          </picture>

          <h3 class="[ product__title ] [ heading-3 ]">
            <a class="product__link" href="#">The Curiosity</a>
          </h3>
        </li>
        <li class="product__item">
          <picture class="product__picture">
            <source
              srcset="/assets/images/desktop/image-fisheye.jpg"
              media="(min-width: 720px)"
            />
            <img
              class="product__image"
              src="/assets/images/mobile/image-fisheye.jpg"
              alt=""
            />
          </picture>

          <h3 class="[ product__title ] [ heading-3 ]">
            <a class="product__link" href="#">Make It Fisheye</a>
          </h3>
        </li>
      </ul>
      <div class="product__btn">
        <Button href="#" theme="primary">See All</Button>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .hero {
    &__heading {
      border: 2px solid $color-neutral-000;
      padding: $size-6;
      max-width: 23.5rem;
      @include mq(medium) {
        padding: $size-10;
        max-width: 41rem;
      }

      // Just for very small sizes
      @media (max-width: 22.5rem) {
        font-size: 2rem;
        padding: $size-3;
      }
    }
  }

  .about {
    margin-block-start: 20.1875rem;
    @include mq(medium) {
      margin-block-start: 19.125rem;
    }

    &__image,
    &__description {
      margin-inline: auto;
      @include mq(large) {
        grid-row: 1;
        margin-inline: revert;
      }
    }

    &__image {
      @include mq(large) {
        grid-column: 1 / 9;
        height: 500px;
        object-fit: cover;
      }
    }

    &__description {
      background-color: $color-neutral-000;
      display: flex;
      flex-direction: column;
      gap: $size-4;
      text-align: center;
      max-width: 28rem;
      @include mq(medium) {
        max-width: 34rem;
      }
      @include mq(large) {
        gap: $size-6;
        padding-block-start: $size-22;
        padding-inline-start: $size-22;
        text-align: revert;
        grid-column: 7 / -1;
        align-self: end;
        z-index: 2;
      }
    }

    &__info {
      opacity: 0.5;
    }
  }

  .product {
    margin-block-start: 6rem;
    display: grid;
    @include mq(medium) {
      margin-block-start: 11.5rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 5rem auto;
      grid-template-areas:
        "heading heading button"
        ". . ."
        "list list list";
    }

    &__heading {
      text-align: center;

      @include mq(medium) {
        grid-area: heading;
        text-align: revert;
      }
    }

    &__list {
      margin-block-start: $size-12;
      display: grid;
      gap: $size-6;

      @include mq(medium) {
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-area: list;
      }
      @include mq(large) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__item {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-neutral-000;
        opacity: 0;
        transition: opacity 270ms ease-in-out;
      }

      &:has(.product__link:focus-within) {
        box-shadow: 0 0 0 3px hsla(111, 99%, 49%, 0.8);
      }

      &:hover:not(:focus-within):after {
        opacity: 0.75;
      }

      &:hover:not(:focus-within) .product__link {
        color: $color-neutral-1000;
        z-index: 100;
      }
    }

    &__image {
      width: 100%;
    }

    &__title {
      position: absolute;
      bottom: 10px;
      right: 0;
      max-width: 10ch;
      background-color: $color-neutral-1000;
      opacity: 0.8;
      padding: $size-2;
      font-weight: bold;

      @include mq(medium) {
        bottom: 20px;
        opacity: 1;
      }
    }

    &__link {
      position: relative;
      color: $color-neutral-000;
      outline: 2px solid transparent;
      transition: color 270ms ease-in-out;
    }

    &__btn {
      margin-block-start: $size-9;
      margin-inline: auto;
      width: fit-content;
      @include mq(medium) {
        margin: 0;
        grid-area: button;
        justify-self: end;
      }
    }
  }
</style>
