---
import SiteHome from "./SiteHome.astro";
import FooterNavigation from "./FooterNavigation.astro";
import SocialNavigation from "./SocialNavigation.astro";
---

<footer class="site-footer">
  <div class="[ container footer-flex ]">
    <div class="site-footer__navigation">
      <SiteHome />
      <FooterNavigation />
    </div>
    <div class="site-footer__social">
      <SocialNavigation />
      <p class="site-footer__right">
        © 2021 Loopstudios. All rights reserved.
      </p>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-footer {
    background-color: $footer-background-color;
    color: $footer-text-color;
    padding: $size-14 0;
    @include mq(large) {
      padding: $size-11 0;
    }

    &__navigation {
      display: flex;
      flex-direction: column;
      gap: $size-8;

      @include mq(large) {
        gap: $size-6;
      }
    }

    &__social {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-4;

      @include mq(large) {
        align-items: flex-end;
        gap: $size-6;
      }
    }

    &__right {
      opacity: 0.5;
      text-align: center;
      @include mq(large) {
        text-align: revert;
      }
    }
  }
</style>
