---

---

<footer class="site-footer">
  <div class="container footer-flex">
    <div class="site-footer__navigation">
      <a class="site-footer__link" href="/index.html">
        <img
          class="site-footer__logo"
          aria-hidden="true"
          src="/assets/images/logo.svg"
          alt=""
        />
        <p class="visually-hidden">LOOPSTUDIOS HOME</p>
      </a>
      <nav class="nav" aria-label="footer navigation">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">About</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Careers</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Events</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Products</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Support</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-footer__social">
      <nav class="social" aria-label="social navigation">
        <ul class="social__list">
          <li class="social__item">
            <a class="social__link" href="#">
              <img src="/assets/images/icon-facebook.svg" alt="" /></a
            >
          </li>
          <li class="social__item">
            <a class="social__link" href="#"
              ><img src="/assets/images/icon-twitter.svg" alt="" /></a
            >
          </li>
          <li class="social__item">
            <a class="social__link" href="#"
              ><img src="/assets/images/icon-pinterest.svg" alt="" /></a
            >
          </li>
          <li class="social__item">
            <a class="social__link" href="#"
              ><img src="/assets/images/icon-instagram.svg" alt="" /></a
            >
          </li>
        </ul>
      </nav>
      <p class="site-footer__right">
        © 2021 Loopstudios. All rights reserved.
      </p>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-footer {
    background-color: $footer-background-color;
    color: $footer-text-color;
    padding: $size-14 $size-7;
    @include mq(large) {
      padding: $size-11 0;
    }

    &__navigation {
      display: flex;
      flex-direction: column;
      gap: $size-8;

      @include mq(large) {
        gap: $size-6;
      }
    }
    a {
      color: $footer-link-color;
      text-decoration: $footer-link-text-decoration;
      font-family: $footer-link-font-family;
    }

    &__link {
      position: relative;
      display: inline-block;
      outline: 2px solid transparent;
      width: fit-content;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: $color-neutral-000;
        transition: width 500ms ease;
      }

      &:hover:not(:focus)::after {
        width: 80px;
      }

      &:focus {
        outline-color: rgb(72, 255, 0);
        outline-offset: 5px;
      }
    }

    &__logo {
      width: 144px;
      height: 24px;

      @include mq(medium) {
        width: 192px;
        height: 32px;
      }
    }

    &__social {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-4;

      @include mq(large) {
        align-items: flex-end;
        gap: $size-6;
      }
    }

    &__right {
      opacity: 0.5;
      text-align: center;
      @include mq(large) {
        text-align: revert;
      }
    }
  }

  .nav {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-4;

      @include mq(large) {
        flex-direction: row;
        gap: $size-8;
      }
    }

    &__link {
      position: relative;
      display: inline-block;
      color: $navigation-color;
      outline: 2px solid transparent;
      text-decoration: $navigation-link-text-decoration;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: $color-neutral-000;
        transition: width 270ms ease-in-out;
      }

      &:hover:not(:focus)::after {
        width: 24px;
      }

      &:focus {
        outline-color: rgb(72, 255, 0);
        outline-offset: 5px;
      }
    }
  }

  .social {
    &__list {
      display: flex;
      align-items: center;
      gap: $size-4;
    }

    &__link {
      position: relative;
      display: inline-block;
      color: $navigation-color;
      outline: 2px solid transparent;
      text-decoration: $navigation-link-text-decoration;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: $color-neutral-000;
        transition: width 270ms ease-in-out;
      }

      &:hover:not(:focus)::after {
        width: 24px;
      }

      &:focus {
        outline-color: rgb(72, 255, 0);
        outline-offset: 5px;
      }
    }
  }
</style>
